

body {
    font-family: "IranSans";
    cursor: default;
}
main {
    margin-top: 20px;
}

#table-wrapper {
    direction: ltr;
    margin: 15px auto;
    overflow-x: auto;
    border: 5px solid #ced4da;
    border-radius: 0.25rem;
    max-height: 75vh;
}
table {
    table-layout: fixed;
    width: 100%;
    color: #6c757d;
    user-select: none;
}
td {
    border: 1px solid #ced4da;
    width: 50px;
    height: 50px;
    position: relative;
    text-align: center;
}
.dirt {
    font-size: 0.8rem;
}
.cell-number {
    font-size: 0.7rem;
    position: absolute;
    left: 2px;
    bottom: 0;
}
.agent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #007bff;
}
#start-btn {
    margin-top: 32px;
    width : 45%;
}
#halt-btn {
    margin-top: 32px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #007bff rgba(0, 123, 255, 0.1);
}
